<section>

    <nav>
        <div class="list">
            <ul>
                <li>
                    <a href="home">Home</a>
                </li>
                <li>
                    <a href="Movies">Movies</a>
                </li>
                <li>
                    <a href="posts">Reserve</a>
                </li>
                <li>
                    <a href="contact">Favourites</a>
                </li>
            </ul>
        </div>
        <div class="search">
            <app-searchbar></app-searchbar>

        </div>
    </nav>
</section>