<section>

    <nav>
        <div class="list">
            <ul>
                <li>
                    <a href="home">Home</a>
                </li>
                <li>
                    <a href="Movies">Movies</a>
                </li>
                <li>
                    <a href="posts">Reserve</a>
                </li>
                <li>
                    <a href="contact">Favourites</a>
                </li>
            </ul>
        </div>

        <div class="right_side">

            <div class="nav_option">
                <button>login</button>
            </div>
    
            <div class="nav_option">
                <button>register</button>
            </div>
    
            <div class="nav_option">
                <app-searchbar></app-searchbar>
            </div>

        </div>
    </nav>
</section>