@import '../../../styles/lib/variables.scss';

.inputbutton {
    display: flex;
    width: 12vw;
    height: 3.5vh;
    margin: 0 2vh 0 2vh;
    background-color: $bg-color;
    align-self: center;
  
    input {
      width: auto;
      flex: 1;
      padding: 0 20px;
      font-family: $font-stack;
      font-size: 18px;
  
      &::placeholder {
        font-size: 18px;
        font-family: $font-stack;
        color: $green;
      }
    }
}

.search_button {
  display: block;
  border: none;
  background-color: $green;
  font-size: 18px;
  font-family: $font-stack;
  font-weight: bolder;
  color: $bg-color;
  padding: 0 13px;
  font-size: 16px;

}

