.home{

    display: flex;

}

.homebody{

    height: auto;
    width: auto;
    background: black;
    flex: 1;
    position: fixed;
    top: 50%;
    left: 40%;
    margin-top: -100px;
    margin-left: -100px;


}