@import '../../../styles/lib/variables.scss';

.authform{
    width: 40vh;
    font-family: $font-stack;
    margin: 100px 90vh 10px 90vh;
    align-content: center;
    text-align: center;
    background-color: $green;
    border-radius: 30px;
}

input {
    width: auto;
    flex: 1;
    padding: 0 20px;
    font-family: $font-stack;
    font-size: 18px;

    &::placeholder {
      font-size: 18px;
      font-family: $font-stack;
      color: $green;
    }
  }