@import '../../styles/variables.scss';

.right_side{

    display: inline-flex;
    position: relative;
    left: 40%;
    margin-right:0;
}

input{

}

button {
    display: inline-block;
    height: 3.5vh;
    margin: 0 2vh 0 2vh;
    border: none;
    background-color: $green;
    font-size: 18px;
    font-family: $font-stack;
    font-weight: bolder;
    color: $bg-color;
    padding: 0 13px;
    font-size: 16px;
}

nav{
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: $bg-color;
  position: fixed;
  padding-top: auto;
  margin-bottom: 50px;
  z-index: 2;
  top: 0;
  ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      padding: 0;
      li {
        padding: 0;
        display: inline-block;
        font-family: $font-stack;
        a {
            text-align: center;
            color: $font-color;
            text-decoration: none;
            font-size: 2vh;
            padding: 0 0vh 0 3vh;
            &:hover {
                background-color: $green;
                color: $bg-color;
            }
        }
    }
  }
}

.list{
  display: inline-block;
}

.nav_option{
  display: inline-block;
}

.nav_block{
    margin-bottom: 10px;
}

  
.input {
    display: inline-block;
    width: auto;
    height: 3vh;
    flex: 1;
    padding: 0 20px;
    font-family: $font-stack;
    font-size: 18px;

    &::placeholder {
    font-size: 18px;
    font-family: $font-stack;
    color: $green;
    }
}
