@import '../../styles/variables.scss';

.right_side{

    display: inline-flex;
    position: relative;
    left: 40%;
    margin-right:0;

}

button {
    display: inline-block;
    height: 3.5vh;
    margin: 0 2vh 0 2vh;
    border: none;
    background-color: $green;
    font-size: 18px;
    font-family: $font-stack;
    font-weight: bolder;
    color: $bg-color;
    padding: 0 13px;
    font-size: 16px;
  
}

nav{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  background-color: $bg-color;
  position: fixed;
  padding-top: auto;
  padding-bottom: auto;
  margin-bottom: 50px;
  z-index: 2;
  top: 0;
  ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      padding: 0;
      li {
        padding: 0;
        display: inline;
        font-family: $font-stack;
        //font-size: 17px;
        a {
          color: $font-color;
          text-decoration: none;
          font-size: 2vh;
          padding: 0 0vh 0 3vh;
          &:hover {
            background-color: $green;
            color: $bg-color;
            width: auto;
            border-radius: 20px;
          }
        }
      }
  }
}

.list{
  display: inline-block;
}

.nav_option{
  display: inline-block;
}

.nav_block{
    margin-bottom: 10px;
}