<section class="nav_block">

    <nav>
        <div class="list">
            <ul>
                <li>
                    <a href="home">Home</a>
                </li>
                <li>
                    <a href="Movies">Movies</a>
                </li>
                <li>
                    <a href="posts">Reserve</a>
                </li>
                <li>
                    <a href="contact">Favourites</a>
                </li>
            </ul>
        </div>
        <div class="right_side">
            <button [routerLink]="['/login']" >Login</button>
            <button>Register</button>
            <Input type="text">
            <button>Send</button>

        </div>
    </nav>
</section>