<section class="nav_block">

    <nav>
        <div class="list">
            <ul>
                <li>
                    <div><a [routerLink]="['/home']">Home</a></div>
                </li>
                <li>
                    <div><a [routerLink]="['/movies']">Movies</a></div>
                </li>
            </ul>
        </div>
        <div class="right_side">
            <button [routerLink]="['/login']" >Login</button>
            <button [routerLink]="['/register']">Register</button>
            <Input type="text" class ="input" placeholder="Movie to search">
            <button>Send</button>
        </div>
    </nav>
</section>